/.vs
/*/bin
/*/obj
/packages
/CoverageReport
/Flagship.Nuget/lib
CoverageResults.xml
/ConsoleApp3
/TestResults
Flagship/NugetPackageRelease/Flagship.SDK.3.0.3.nupkg
/Flagship.Tests/FakesAssemblies
/WebApplication3
/**/coverageReport
/**/coverage.cobertura.xml
/WebApplication1
